.icon-chevron-sign-right  {
	position:absolute;
	right:0.25em;
	bottom:0.6em;
	font-size:120%;
	display:none !important;
}

a {
	text-decoration:none;
}

a:visited,a:active,a {
	color:inherit;
}      