.bonsai {
	font: 0.84em/1.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.6px;
	border:1px solid rgba(100,100,100,0.4);
	background:rgba(60,60,60,0.4);
	color:rgba(180,180,180,1); 
	font-weight:normal;
	@include transition(all,320ms,ease-out);


	li {
		overflow:hidden;
		
		&.folder {
			> .section {
				opacity:0; 
				@include transition(opacity,240ms,ease-in);
			}
			&.open {
				> a > i[class*="caret"] {
					@include transform-rotate(90deg);
				}
				> .section {
					@include transition(opacity,240ms,ease-out);
					opacity:1;
				}
			}
		}
	}
	.section {
		list-style-type:none;
	}
	a {
		position:relative;
		@include transition(all,320ms,ease-out);

	}
	i {
		opacity:0.3;
		@include transition(all,320ms,ease-out);
	}
	
	@media only screen and (max-width: 768px) {
		color:white;
		li {
			li {
				a:after {
					content:" ";
					border-top:1px dotted grey;
					display:block;
					position:absolute;
					bottom:-0.22em;
					right:2.2em;
					width:4px;
					height:10px;
				}
				
				/* start tiny dots - if this is a keeper, use a sass loop and consider making a component */
				li {
					a:after { width:8px; }
					li {
						a:after { width:12px; }
						li {
							a:after { width:16px; }
							li {
								a:after { width:20px; }
								li {
									a:after { width:24px; }
									li {
										a:after { width:28px; }
										li {
											a:after { width:32px; }
											li {
												a:after { width:36px; }
													li {
														a:after { width:40px; }
														li {
															a:after { width:44px; }
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				/* end tiny dots */
			}
		
		li { 
			border-top:1px solid rgba(120,120,120,0.6);
			
			&.open {
				> a {
					font-weight:normal;
					i:not(.icon-chevron-sign-right) {
						opacity:1;
					}
					
				}
				li {
					 /* background:rgba(120,120,120,0.24);  */
				}
			}
			&.folder.open, &.folder.open /* > a:hover */ {
				background:rgba(20,20,20,0.48); 
				
			}
		}
		
		> .section {
			> li {
				&:last-of-type {
					border-bottom:1px solid rgba(120,120,120,0.6);
				}
				&:first-of-type {
					border-top:none;
				}
				
			}
			
		}

		font-size:1em;
		line-height:1.8em;

	}
	
	@media only screen and (max-width: 480px) {

	}
	
}

.no-touch {
	.bonsai { 
		&:hover {
			background:rgba(60,60,60,0.48);
			@include transition(all,420ms,ease-in);
			border:1px solid rgba(100,100,100,0.8);
		}
		a {
			&:hover {
				color:rgba(253,253,253,0.99999);
				i {
					opacity:0.5;
				}
			}
		}
		@media only screen and (max-width: 768px) {
			a {
				&:hover {
					background:rgba(200,200,200,0.18);
				}
			}
		}
	}  
}