html {
  height: 100%;
  background: #141414; }

body {
  min-height: 100%;
  color: white;
  padding: 2em; }
  @media only screen and (max-width: 768px) {
    body {
      padding: 0; } }

@media only screen and (max-width: 768px) {
  html {
    min-height: 100%;
    height: auto; }
  body {
    height: auto; } }

a {
  text-decoration: none; }

a:visited {
  color: inherit; }
